In [1]:
n=0
while n<10:
    print(n)
    n=n+1
    if n>=5:
        break

0
1
2
3
4

In [2]:
n=0
while n<5:
    print(n)
    n=n+1
    if n>=5:
        print(n,  "is not less than 5")
        break

0
1
2
3
4
5 is not less than 5

In [4]:
fruits= ["cherry", "banana", "apple"]
for x in fruits:
    if x!= "apple":
        print("I like ", x)
    else:
        print("is apple a fruit?")

I like  cherry
I like  banana
is apple a fruit?

In [104]:
x=0
while x<= 30:
    x=x+1
    print(x)
    if x>= 30:
        break
v= range(1,30)
sum(v)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

435

In [11]:
grade= 89
if grade>= 90:
    print("a")
elif grade >=80:
    print("b")
elif grade>=70:
    print("c")
elif grade >= 60:
    print("d")
else:
    print("f")

b

In [30]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for names, grades in marks.items():
    print(names, grades)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [96]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for grade in marks.values():
    print(grade)
maximum(88, 66, 90, 55, 77)
minimum(88, 66, 90, 55, 77)

88
66
90
55
77

NameError: name 'maximum' is not defined

In [69]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for names in marks.keys():
    if "J" in names:
        break
    print(names)

Andy
Amy

In [97]:
marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for names in marks.keys():
    if "J" in names:
        break
    print(names)

SyntaxError: invalid syntax (2346694278.py, line 6)

In [91]:
import math